header {
  padding: 20px 250px 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
header .menu-btn {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
header .menu-btn span {
  position: absolute;
  top: 0px;
  left: 0px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  transition: all 0.4s linear;
  /* transition: opacity 0.3s width 1s linear; */
  opacity: 0;
}
header .menu-btn span:first-child {
  width: 0%;
  height: 120%;
  border-top: 1px solid var(--basic-black);
  border-bottom: 1px solid var(--basic-black);
  transform-origin: left;
  transform: translate(-15%, -10%);
}
header .menu-btn span:last-child {
  width: 120%;
  height: 0%;
  border-left: 1px solid var(--basic-black);
  border-right: 1px solid var(--basic-black);
  transform-origin: top;
  transform: translate(-10%, -20%);
}
header .menu-btn:hover span {
  opacity: 1;
}
header .menu-btn:hover span:first-child {
  width: 140%;
}
header .menu-btn:hover span:last-child {
  height: 170%;
}
header .languge span {
  font-weight: 500;
  margin: 0 5px;
  color: #aaa;
  cursor: pointer;
}
header .languge span.active {
  color: #333;
}
header h1 {
  width: calc(100%);
  padding: 0 30px;
  position: fixed;
  top: 100px;
  right: 0;
}
